---
interface Props {
  logoSrc: string;
  logoAlt?: string;     // Ahora es opcional
  title?: string;       // Ahora es opcional
  description?: string; // Ahora es opcional
}

// Definimos valores por defecto por si no llegan las props
const { logoSrc, logoAlt, title, description} = Astro.props;
---

<div class="flex flex-col items-center md:items-start text-center md:text-left space-y-6">
  <a href="/" class="group transition-transform duration-500 hover:scale-105">
    <img
      src={logoSrc}
      class="h-14 w-auto object-contain"
      alt={logoAlt}
      loading="lazy"
    />
  </a>
  <div class="space-y-4">
    {title && (
      <p class="text-white font-bold text-[11px] tracking-[0.2em] uppercase">
        {title}
      </p>
    )}
    {description && (
      <p class="text-slate-500 text-sm leading-relaxed max-w-xs font-light">
        {description}
      </p>
    )}
  </div>
</div>