---
import Layout from "../layouts/Layout.astro";
import { company } from "../data/company";

// Importación de las secciones modulares
import HeroSection from "../components/index/HeroSection.astro";
import AboutSection from "../components/index/AboutSection.astro";
import OzonoterapiaSection from "../components/index/OzonoterapiaSection.astro";
import ServiciosSection from "../components/index/ServiciosSection.astro";
import QuoteSection from "../components/index/QuoteSection.astro";
import DireccionMedicaSection from "../components/index/DireccionMedicaSection.astro";
import FAQSection from "../components/index/FAQSection.astro";
import Quote2Section from "../components/index/Quote2Section.astro";
import ContactoSection from "../components/index/ContactoSection.astro";
import MapSection from "../components/index/MapSection.astro";
import TestimonialsSection from "../components/index/TestimonialsSection.astro";
import BenefitsSection from "../components/index/BenefitsSection.astro";

---

<Layout
  title="Ozono Clinic | Expertos en Ozonoterapia Médica y Regenerativa"
  description="Tratamientos avanzados de ozonoterapia para dolor crónico, hernias discales y bienestar inmunológico."
>
  <main>
    <HeroSection />
    <AboutSection />
    <OzonoterapiaSection />
    <ServiciosSection />
    <QuoteSection />
    <DireccionMedicaSection />
    <BenefitsSection />
    <FAQSection />
    <Quote2Section />
    <TestimonialsSection />
    <ContactoSection />
    <MapSection />
  </main>

  <a
    href={company.contact.linkWhatsapp}
    target="_blank"
    aria-label="Chatear por WhatsApp"
    class="fixed bottom-6 right-6 z-50 group"
  >
    <div
      class="relative flex items-center justify-center w-14 h-14 rounded-full
      bg-linear-to-br from-[#338B85] to-[#2c7570]
      shadow-[0_8px_30px_rgba(51,139,133,0.45)]
      transition-all duration-300
      hover:scale-110 hover:shadow-[0_15px_40px_rgba(51,139,133,0.65)]"
    >
      <span
        class="absolute inset-0 rounded-full bg-[#338B85] opacity-20 animate-ping"
      ></span>

      <i class="fab fa-whatsapp text-white text-2xl relative z-10"></i>
    </div>
  </a>
</Layout>