---  
---  
 
<section class="dr-quote">
    <div class="quote-content animate-on-scroll animate-scale-in">
      <h2 class="quote text-2xl md:text-3xl lg:text-4xl">
        "La salud no es solo ausencia de enfermedad, es equilibrio y bienestar
        integral."
      </h2>
      <p class="name">— Osono Clinic</p>
    </div>
  </section>