<section class="dr-quote">
  <div class="quote-content" data-aos="zoom-out" data-aos-duration="1200">
    <h2 class="quote">
      "La salud no es solo ausencia de enfermedad, es equilibrio y bienestar integral."
    </h2>
    <p class="name" data-aos="fade-up" data-aos-delay="400">— Ozono Clinic</p>
  </div>
</section>

