---  
---  

  <section class="dr-quote2">
    <div class="quote-content animate-on-scroll animate-scale-in">
      <h2 class="quote">
        "La ozonoterapia potencia tu bienestar físico y mental, cuidando cada
        aspecto de tu salud."
      </h2>
      <p class="name">— Osono Clinic</p>
    </div>
  </section>
