<section class="dr-quote2">
  <div class="quote-content" data-aos="fade-up" data-aos-duration="1000">
    <h2 class="quote">
      "Tu bienestar es nuestra prioridad, transformamos vidas con ciencia y equilibrio."
    </h2>
    <p class="name" data-aos="fade-left" data-aos-delay="500">— Dra. Amalia Luque</p>
  </div>
</section>