---
import "../styles/global.css";
import "../styles/index.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { siteConfig } from "../data/siteConfig";
import CookieConsent from "../components/CookieConsent.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Osono Clinic" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#0d9488" />

    <meta property="og:image" content={siteConfig.seo.ogImage} />


    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/icon.png" />

    <!-- Preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body class="bg-slate-50 text-slate-800 font-sans">
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
    
  <!-- Banner de Cookies -->
    <CookieConsent />

    <script src="../js/main.js"></script>
    <script src="../js/contacto.js"></script>
  </body>
</html>
